@font-face {
    font-family: 'sentinels-font'; /*a name to be used later*/
    src: url('../src/data/detectivesinc.ttf'); /*URL to font*/
}

$text-base:     #374047; 
$text-light:    #98a1a8;
$button-base:   #e2eff9;  
$button-hover:  #b5d8f0;

#app 
{
  color: $text-base;
  font-family: sans-serif;
  a 
  {
    text-decoration: none;
  }
  .pageTitle
  {
    margin: 0.125em;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: $text-base;
    @media only screen and (max-width: 700px) 
    {
      font-size: 2em;
    }
  }
  #content
  {
    display: grid;
    grid-template-columns: 5fr 2fr;
    @media only screen and (max-width: 700px) 
    {
      display: flex;
      flex-flow: column-reverse;
      align-items: center;
      text-align: center;
      font-size: .5em;
    }
    .title
    {
      font-weight: bold;
      font-size: 2em;
    }
    .subtitle 
    {
      color: $text-light;
      font-size: 2em;
    }
  
    #cards
    {
      margin: .5em;
      #villainCardContainer, #envCardContainer
      {
        text-align: center;
      }
      .villainCardContainer
      {
        grid-template-columns: 1fr;
      }
      .envCardContainer
      {
        grid-template-columns: 1fr;
      }
      .cardContainer
      {
        .cardContainerGrid
        {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .card
          {
            text-align: center;
            background: #e2eff9;
            margin: 1em;
            .cardName 
            {
              font-size: 2em;
              font-weight: bold;
              user-select: none;
              cursor: pointer;
              background: #e2eff9;
              padding: .5em 0;
            }
            img
            {
              width: 100%;
            }
            &:hover 
            {
              .cardName
              {
                display: block;
              }
            }
          }
        }
      }
    }
    #settings
    {
      margin: .5em;
      #amount
      {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        button
        {
          margin: .25em;
          background: $button-base;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          height: 2em;
          width: 2em;
          font-family: sentinels-font;
          font-size: 2em;
        }
      }
    }
  }
}
// #header { 
//     .headerTitle {
//     display: block;
//     text-align: center;
//     margin: auto;
//     padding: 1em;
//     font-size: 2em;
//     background-color: #EEE;
//     font-weight: bold;
//   }
// }
// 
// #settings {
//   margin: 1em;
//   text-align: center;
//   font-size: 1.5em;
//   font-weight: bold;
// }
// 
// .cardContainer {
//   margin: 2em 20vw;
//   padding: 1em;
//   background-color: #FFF;
//   border: 2px solid black;
//   border-radius: 2px;
//   .cardContainerGrid {
//     align-items: self-end;
//     text-align: center;
//     display: grid;
//     .card {
//       margin: 1em;
//       img {
//         max-width: 100%;
//       }
//       .cardName {
//         font-weight: bold;
//         font-size: 1.5em;
//       }
//     }
//   }
//   .cardContainerTitle {
//     font-weight: bold;
//     font-size: 2em;
//     margin: auto;
//     text-align: center;
//   }
//   #heroCardContainer {
//     grid-template-columns: repeat(2, 1fr);
//   }
//   #villainCardContainer {
//     grid-template-columns: 1fr;
//   }
//   #envCardContainer {
//     grid-template-columns: 1fr;
//   }
//   @media only screen and (max-width: 700px) {
//     .cardContainerGrid {
//       display: block;
//     }
//   }
// }
